*{
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body{ 
    background-image: url(image/fullmoon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.hfrom{
    text-align: center;
   
}
h1{
    color: lightblue;
    font-size: 50px;
}
h2{
    color: lightblue;
    font-size: 30px;
}
ul{
    border-radius: 10px;
}
.fcontainer{
    
  width:fit-content;
   background-color: #696969;
   border: 2px solid blue;
   font-weight: bolder;
}
@media(min-width:450px){
    .fcontainer{
        margin-left: 40%;
    }
    
}
li{
    list-style-type: none;
   
}
li{
    padding-right: 19.9px;

}
button{
    background-color: lightblue;
   float:right;
   border-radius: 20px;
    
}
button:hover{
    background-color: blue;
    font-weight: bolder;
}
span a{
    text-decoration-line: none;
    color: lightblue;
}
a:hover{
  color: blue;  
}
